version: 2.1

workflows:
  igvf-tests:
    jobs:
      - lint
      - cdk-mypy:
          requires:
            - lint
      - cdk-pytest:
          requires:
            - lint
      - cdk-lambda-runtime-pytest:
          requires:
            - lint
      - igvfd-pytest:
          requires:
            - lint
      - igvfd-check-opensearch-mappings:
          requires:
            - lint

jobs:
  lint:
    docker:
      - image: cimg/python:3.11
    working_directory: ~/igvfd
    steps:
      - checkout
      - run: pip install pre-commit==2.17.0
      - run: pre-commit run --all-files

  cdk-mypy:
    docker:
      - image: cimg/python:3.11
    working_directory: ~/igvfd/cdk/
    steps:
      - checkout:
          path: ~/igvfd
      - run: pip install -r requirements.txt -r requirements-dev.txt
      - run: mypy .

  cdk-pytest:
    machine:
      image: ubuntu-2004:2023.04.2
      docker_layer_caching: true
    resource_class: medium
    working_directory: ~/igvfd/cdk/
    steps:
      - checkout:
          path: ~/igvfd
      - run: pyenv global 3.11
      - run: pip install -r requirements.txt -r requirements-dev.txt
      - run: pytest tests/

  cdk-lambda-runtime-pytest:
    docker:
      - image: cimg/python:3.11
    working_directory: ~/igvfd/cdk/infrastructure/runtime/lambdas/snapshot/
    steps:
      - checkout:
          path: ~/igvfd
      - run: pip install -r requirements.txt -r requirements-dev.txt
      - run: pytest tests/

  igvfd-pytest:
    machine:
      image: ubuntu-2004:2023.04.2
      docker_layer_caching: true
    resource_class: medium
    working_directory: ~/igvfd
    steps:
      - checkout
      - run:
          name: Build Docker images
          command: |
              docker-compose -f docker-compose.test.yml build
              docker-compose -f docker-compose.test-indexer.yml build
      - run:
          name: Set folder permissions for mounted volume
          command: |
              sudo useradd -u 1444 igvfd
              sudo usermod -a -G igvfd circleci
              sudo chown -R circleci:igvfd ./
      - run:
          name: Run tests
          command: |
              docker-compose -f docker-compose.test.yml up --exit-code-from pyramid
              docker-compose -f docker-compose.test-indexer.yml up --exit-code-from indexer-tests
      - run:
          name: Move pytest results out of hidden directory for circle
          command: mv .test-results test-results
      - run:
          name: Upload coverage
          command: |
              docker-compose run --no-deps -e COVERALLS_REPO_TOKEN=$COVERALLS_REPO_TOKEN pyramid coveralls
      - store_test_results:
          path: test-results

  igvfd-check-opensearch-mappings:
    machine:
      image: ubuntu-2004:2023.04.2
      docker_layer_caching: true
    resource_class: medium
    working_directory: ~/igvfd
    steps:
      - checkout
      - run:
          name: Build Docker images
          command: |
              docker-compose -f docker-compose.yml build
      - run:
          name: Set folder permissions for mounted volume
          command: |
              sudo useradd -u 1444 igvfd
              sudo usermod -a -G igvfd circleci
              sudo chown -R circleci:igvfd ./
      - run:
          name: Check Opensearch mappings for diff
          command: |
              docker-compose run pyramid /scripts/pyramid/diff-opensearch-mappings.sh
